body {
  background-image: url(pubg3.jpg);
  background-repeat: no-repeat;
  height: device-height;
  weight: device-weight;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color:#464646;
  font-family: 'Century Gothic',sans-serif;
}
@media only screen and (max-width: 720px)
{
  body{
    /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
     background: url(pubg9.jpg);
     background-repeat: no-repeat;
     background-position: center center;
     background-attachment: fixed;
     height: 100%;
     width: 100%;
     background-size: cover;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     overflow: scroll;
     margin: 0;
     padding: 0;
  }
}
.box{
  width: 450px;
  height: auto;
  background: rgba(0, 0, 0, 0.6);
  padding: 25px;
  text-align: center;
  margin: auto;
  margin-top: 8%;
  color: white;
  font-family: sans-serif;
  overflow: hidden;
  overflow-y: auto;

}
@media only screen and (max-width: 720px)
{
  .box{
    /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
     width: 250px;
     height: auto;
     background: rgba(0, 0, 0, 0.6);
     padding: 25px;
     text-align: center;
     margin: auto;
     margin-top: 8%;
     color: white;
     font-family: sans-serif;
     overflow: hidden;
     overflow-y: auto;
  }
}

.responsive1
{
  width: 400px;
  height: 90px;
}
@media only screen and (max-width: 720px)
{
  .responsive1
  {
    width: 260px;
    height: 60px;
  }
}

.responsive2
{
  width: 250px;
  height: 56px;
}
@media only screen and (max-width: 720px)
{
  .responsive2
  {
    width: 150px;
    height: 30px;
  }
}

}
.box h1{
  font-size: 30px;
  letter-spacing: 4px;
  font-weight: 100;
  font-family:  Arial Black;
}
ul{
  font-size: 20px;
  letter-spacing: 0px;
  font-weight: 100;
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #b9b9b9;
}

/* customizable snowflake styling */
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}
